@page "/"

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Welcome to BillingPocTwo</h3>
<p>Login above using your Cathloic Mutual Group email and credentials to access the billing tools.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            // Redirect authenticated users to the search page
            NavigationManager.NavigateTo("/search");
        }
    }
}
