@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <div class="ml-auto">
                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/register" class="btn btn-secondary">Register</a>
                    <button class="btn btn-primary" @onclick="Logout">Logout</button>
                </div>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("import", "./js/logout.js");
        }
    }

    [JSInvokable]
    public async Task LogoutOnClose() => await ((CustomAuthenticationStateProvider)AuthStateProvider).LogoutAsync();

    private async Task Logout()
    {
        await ((CustomAuthenticationStateProvider)AuthStateProvider).LogoutAsync();
        Navigation.NavigateTo("/");
    }
}
