@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <div class="ml-auto">
                    <a href="https://catholicmutual.org" target="_blank" rel="noopener noreferrer" class="external-link">
                        <img src="images/logo.png" alt="Catholic Mutual Group" style="height: 40px;" />
                    </a>
                </div>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

@code {
    public async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("import", "./js/logout.js");
        }
    }

    [JSInvokable]
    public async Task LogoutOnClose()
    {
        await ((CustomAuthenticationStateProvider)AuthStateProvider).LogoutAsync();
    }

    public async Task Logout()
    {
        await ((CustomAuthenticationStateProvider)AuthStateProvider).LogoutAsync();
        Navigation.NavigateTo("/");
    }
}
