@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4 auth">
            <LoginDisplay />
                <div class="ml-auto">
                    <a href="https://catholicmutual.org" target="_blank" rel="noopener noreferrer" class="external-link">
                        <img src="images/logo.png" alt="Catholic Mutual Group" style="height: 40px;" />
                    </a>
                </div>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

@code {
    public async Task OnAfterRenderAsync(bool firstRender)
    {
        // if (firstRender)
        // {
        //     await JSRuntime.InvokeVoidAsync("import", "./js/logout.js");
        // }
    }

    // public async Task Logout()
    // {
    //     Navigation.NavigateTo("/");
    // }
}
