@page "/change-role"
@using System.Net.Http.Headers
@inject HttpClient Http
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@attribute [Authorize(Roles = "Admin")]

<h3>Change User Role</h3>

<EditForm Model="changeRoleModel" OnValidSubmit="HandleChangeRole">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>User Email:</label>
        <InputText @bind-Value="userEmail" />
        <button type="button" @onclick="SearchUser">Search for User</button>
    </div>
    @if (isSearchDone)
    {
    <div>
        <label>New Roles:</label>
        @foreach (var role in availableRoles)
        {
            <div>
                <InputCheckbox @bind-Value="role.IsSelected" />
                <label>@role.Name</label>
            </div>
        }
    </div>
    <button type="submit" disabled="@isLoading">
        @if (isLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        }
        else
        {
            <span>Change Role</span>
        }
    </button>
    }
</EditForm>

<p><em>@message</em></p>

@code {
    private string userEmail = string.Empty;
    private ChangeRoleDto changeRoleModel = new ChangeRoleDto();
    private List<RoleSelection> availableRoles = new List<RoleSelection>();
    private string message = string.Empty;
    private bool isLoading = false;
    private bool isSearchDone = false;


    private async Task SearchUser()
    {
        var token = await LocalStorage.GetItemAsync<string>("authToken");
        if (string.IsNullOrEmpty(token))
        {
            message = "User is not authenticated";
            return;
        }

        // Load all available roles
        var requestRoles = new HttpRequestMessage(HttpMethod.Get, "api/auth/user-roles");
        requestRoles.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);

        var responseRoles = await Http.SendAsync(requestRoles);
        if (responseRoles.IsSuccessStatusCode)
        {
            var roles = await responseRoles.Content.ReadFromJsonAsync<List<UserRole>>();
            if (roles == null)
            {
                message = "Failed to load user roles";
                return;
            }

            // Fetch user roles
            var request = new HttpRequestMessage(HttpMethod.Get, $"api/auth/user-roles/{userEmail}");
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);

            var response = await Http.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<ChangeRoleDto>();
                if (result != null)
                {
                    changeRoleModel = result;
                    availableRoles = roles.Select(r => new RoleSelection
                        {
                            Name = r.Name,
                            IsSelected = result.NewRoles.Contains(r.Name)
                        }).ToList();
                    isSearchDone = true;
                }
            }
            else
            {
                message = "Failed to load user roles";
            }
        }
        else
        {
            message = "Failed to load user roles";
        }
    }

    private async Task HandleChangeRole()
    {
        isLoading = true;
        var token = await LocalStorage.GetItemAsync<string>("authToken");
        if (string.IsNullOrEmpty(token))
        {
            message = "User is not authenticated";
            isLoading = false;
            return;
        }

        changeRoleModel.NewRoles = availableRoles.Where(r => r.IsSelected).Select(r => r.Name).ToList();

        var request = new HttpRequestMessage(HttpMethod.Put, "api/auth/change-user-role")
            {
                Content = JsonContent.Create(changeRoleModel)
            };
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);

        var response = await Http.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            message = "Role changed successfully";
        }
        else
        {
            var responseContent = await response.Content.ReadAsStringAsync();
            message = $"Failed to change role: {responseContent}";
        }
        isLoading = false;
    }

    private class RoleSelection
    {
        public string Name { get; set; }
        public bool IsSelected { get; set; }
    }
}
