@page "/delete-user"

@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation
@inject ISessionStorageService SessionStorage

@attribute [Authorize(Roles = "Admin")]

<h3>Delete User</h3>

<EditForm Model="deleteUserModel" OnValidSubmit="HandleDeleteUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>User Email:</label>
        <InputText @bind-Value="deleteUserModel.Email" />
    </div>
    <button type="submit" disabled="@isLoading">
        @if (isLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        }
        else
        {
            <span>Delete User</span>
        }
    </button>
</EditForm>

<p><em>@message</em></p>

@code {
    public DeleteUserDto deleteUserModel = new DeleteUserDto();
    public string message = string.Empty;
    private bool isLoading = false;

    public async Task HandleDeleteUser()
    {
        isLoading = true;

        var client = HttpClientFactory.CreateClient("AuthApi");

        var token = await SessionStorage.GetItemAsync<string>("AccessToken");
        if (string.IsNullOrEmpty(token))
        {
            message = "User is not authenticated";
            StateHasChanged();
            return;
        }

        var currentUserEmail = GetUserEmailFromToken(token);
        if (currentUserEmail == deleteUserModel.Email)
        {
            message = "You cannot delete your own account";
            StateHasChanged();
            return;
        }

        var request = new HttpRequestMessage(HttpMethod.Delete, $"api/auth/delete-user/{deleteUserModel.Email}");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);

        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            message = "User deleted successfully";
            StateHasChanged();
            isLoading = false;
        }
        else
        {
            var responseContent = await response.Content.ReadAsStringAsync();
            message = responseContent;
            StateHasChanged();
            isLoading = false;
        }
    }

    private string GetUserEmailFromToken(string token)
    {
        var handler = new JwtSecurityTokenHandler();
        var jwtToken = handler.ReadJwtToken(token);
        var userEmailClaim = jwtToken.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Email);
        return userEmailClaim != null ? userEmailClaim.Value : string.Empty;
    }
}
