@page "/delete-user"

@inject HttpClient Http
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@attribute [Authorize(Roles = "Admin")]

<h3>Delete User</h3>

<EditForm Model="deleteUserModel" OnValidSubmit="HandleDeleteUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>User Email:</label>
        <InputText @bind-Value="deleteUserModel.Email" />
    </div>
    <button type="submit" disabled="@isLoading">
        @if (isLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        }
        else
        {
            <span>Delete User</span>
        }
    </button>
</EditForm>

<p><em>@message</em></p>

@code {
    private DeleteUserDto deleteUserModel = new DeleteUserDto();
    private string message = string.Empty;
    private bool isLoading = false;


    private async Task HandleDeleteUser()
    {
        isLoading = true;

        var token = await LocalStorage.GetItemAsync<string>("authToken");
        if (string.IsNullOrEmpty(token))
        {
            message = "User is not authenticated";
            return;
        }

        var currentUserEmail = GetUserEmailFromToken(token);
        if (currentUserEmail == deleteUserModel.Email)
        {
            message = "You cannot delete your own account";
            return;
        }

        var request = new HttpRequestMessage(HttpMethod.Delete, $"api/auth/delete-user/{deleteUserModel.Email}");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);

        var response = await Http.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            message = "User deleted successfully";
            isLoading = false;
            // Thread.Sleep(2000);
            // Navigation.NavigateTo("/welcome2");
        }
        else
        {
            var responseContent = await response.Content.ReadAsStringAsync();
            message = $"Failed to delete user: {responseContent}";

            isLoading = false;
        }
    }

    private string GetUserEmailFromToken(string token)
    {
        var handler = new JwtSecurityTokenHandler();
        var jwtToken = handler.ReadJwtToken(token);
        var userEmailClaim = jwtToken.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Email);
        return userEmailClaim != null ? userEmailClaim.Value : string.Empty;
    }
}
